<h1>プロフィール編集</h1>

<%= form_with model: @user, url: profile_path, local: true do |f| %>
  <div>
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email %>
  </div>

  <br>

  <%= f.submit "更新する" %>
<% end %>

<br>

<%= link_to "戻る", profile_path %>
