<div class="profile-show-container">
  <h1 class="profile-show-title">ユーザー情報</h1>

  <div class="profile-card">
    <table class="profile-table">
      <tr>
        <th>名前</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>権限</th>
        <td><%= @user.role %></td>
      </tr>
    </table>

    <div class="profile-actions profile-actions-stack">
      <%= link_to "編集する", edit_profile_path, class: "profile-edit-btn" %>
      <%= link_to "戻る", root_path, class: "profile-back-link" %>
    </div>
  </div>
</div>