<h2>退塾処理</h2>

<% if @withdrawal.errors.any? %>
  <div class="error-messages">
    <ul>
      <% @withdrawal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(
      model: @withdrawal,
      url: admin_student_withdrawal_path(@student),
      local: true ) do |f| %>

  <div>
    <%= f.label :reason, "退塾理由" %>
    <%= f.text_area :reason, required: true %>
  </div>

  <%= f.submit "退塾を確定する", class: "danger-submit" %>
<% end %>