<h3>成績一覧</h3>

<p>
  <%= link_to "成績入力",
        new_admin_student_score_path(@student),
        class: "btn" %>
</p>

<% subjects = Score.subjects.keys %>

<% grouped_scores =
     @scores.group_by { |s| [s.term, s.test_type] } %>

<table border="1" cellpadding="6">
  <tr>
    <th>学期 / 教科</th>
    <% subjects.each do |subject| %>
      <th><%= I18n.t("activerecord.enums.score.subject.#{subject}") %></th>
    <% end %>
    <th>操作</th>
  </tr>

  <% grouped_scores.each do |(term, test_type), scores| %>
    <tr>
      <td>
        <%= I18n.t("activerecord.enums.score.term.#{term}") %><br>
        （<%= I18n.t("activerecord.enums.score.test_type.#{test_type}") %>）
      </td>

      <% subjects.each do |subject| %>
        <% score = scores.find { |s| s.subject == subject } %>
        <td>
          <%= score ? score.score : "–" %>
        </td>
      <% end %>

      <td>
        <%= link_to "編集",
              admin_student_edit_test_scores_path(
                @student,
                term: term,
                test_type: test_type
              ) %>
      </td>
    </tr>
  <% end %>
</table>

<hr>

<h3>成績推移（合計点）</h3>

<h4>棒グラフ（テスト別 合計点）</h4>

<%= bar_chart @line_chart_data,
      xtitle: "テスト",
      ytitle: "合計点",
      min: 0,
      max: 500,
      height: "400px" %>

<hr>

<h4>折れ線グラフ（推移）</h4>

<%= line_chart @line_chart_data,
      xtitle: "テスト",
      ytitle: "合計点",
      min: 0,
      max: 500,
      curve: false,
      height: "400px" %>
      
