<h1>お知らせ新規作成</h1>

<%= form_with model: @announcement,
              url: admin_announcements_path,
              local: true do |f| %>

  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body, "本文" %><br>
    <%= f.text_area :body, rows: 6 %>
  </div>

  <div>
    <%= f.label :target, "配信対象" %><br>
    <%= f.select :target,
          [
            ["全員", "everyone"],
            ["保護者のみ", "parent"],
            ["生徒のみ", "student"]
          ] %>
  </div>

  <br>

  <%= f.submit "作成する" %>
<% end %>

<br>

<%= link_to "戻る", admin_announcements_path %>
