<h2>ログイン</h2>

<%= render "devise/shared/error_messages", resource: resource %>

<%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, t("devise.sessions.new.remember_me") %>
    </div>
  <% end %>

  <div>
    <%= f.submit t("devise.sessions.new.sign_in") %>
  </div>
<% end %>

<hr>

<div>
  <%= button_to "ゲスト保護者でログイン", users_guest_parent_sign_in_path, method: :post %>
</div>

<%= render "devise/shared/links" %>
