<%= form_with model: [@student, @score], local: true do |f| %>

  <div>
    <%= f.label :subject %>
    <%= f.select :subject,
      Score.subjects.keys.map { |k|
        [I18n.t("activerecord.enums.score.subject.#{k}"), k]
      },
      prompt: "科目を選択"
    %>
  </div>

  <div>
    <%= f.label :score %>
    <%= f.number_field :score, min: 0, max: 100 %>
  </div>

  <div>
    <%= f.label :test_type %>
    <%= f.select :test_type,
      Score.test_types.keys.map { |k|
        [I18n.t("activerecord.enums.score.test_type.#{k}"), k]
      },
      prompt: "テスト種別を選択"
    %>
  </div>

  <div>
    <%= f.label :term %>
    <%= f.select :term,
      Score.terms.keys.map { |k|
        [I18n.t("activerecord.enums.score.term.#{k}"), k]
      },
      prompt: "学期を選択"
    %>
  </div>

  <%= f.submit %>
<% end %>
