<h2>新規登録</h2>

<%= render "devise/shared/error_messages", resource: resource %>

<%= form_with model: resource, url: registration_path(resource_name), local: true do |f| %>
  <%= hidden_field_tag "user[role]", params[:role] %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <% if params[:role] == "student" %>
    <div>
      <%= label_tag :school_name, "学校名" %>
      <%= text_field_tag "user[school_name]" %>
    </div>

    <div class="field">
      <%= f.label :grade, "学年" %>
      <%= f.select :grade,
        [
          ["小1", "小1"], ["小2", "小2"], ["小3", "小3"], ["小4", "小4"], ["小5", "小5"], ["小6", "小6"],
          ["中1", "中1"], ["中2", "中2"], ["中3", "中3"],
          ["高1", "高1"], ["高2", "高2"], ["高3", "高3"]
        ],
        prompt: "選択してください" %>
    </div>
  <% end %>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit "登録" %>
<% end %>
